.btn-submit {
    display: flex;
    justify-content: flex-end;
}

.active {
    background-color: blue;
    color: white;
}

.button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100% !important;
  }

