.btn-submit {
    display: flex;
    justify-content: flex-end;
}

.active {
    background-color: blue;
    color: white;
}

.button {
    margin-top: 1.5rem !important;
    width: 100% !important;
  }

